name: Build LKM for HymoFS

on:
  workflow_call:
  workflow_dispatch:
  push:
    branches:
      - lkm

jobs:
  build-lkm:
    strategy:
      fail-fast: false
      matrix:
        kmi:
          - android15-6.6
    uses: ./.github/workflows/ddk-lkm.yml
    secrets: inherit
    with:
      kmi: ${{ matrix.kmi }}
      ddk_release: "20251104"
